<div class="container">
  <div class="row">
    <% @sports.each do |sport| %>
    <div class="col-lg-3 col-md-4 col-sm-6 custom-img-block">
      <div class="image fit">
        <%#= link_to image_tag(sport.attachments.last.file.url(:horizontal).split('/').last), sport_path(sport), class: 'thumbnail'%>
        <!-- , class: 'thumbnail' -->
        <!-- , class: 'img-rounded' -->
        <%= link_to sport_path(sport), class: 'thumbnail' do %>
          <%= image_tag sport.attachments.last.file.url(:horizontal).split('/').last if sport.attachments.present?
           %>
          <h1 class="text-center custom-text-color font-bold text-capitalize"><%= sport.name%></h1>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>