<div class="container">
	<div class="row">
		<div class="col-md-12 top-margin-50">
			<%= render 'alphabetical_pagination' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%= render 'shared/sidebar' %>
		</div>

		<div class="col-md-10" id="sports">
			<%= render 'sport' %>
		</div>
	</div>
	<p>
		<%= will_paginate @sports %>
	</p>
</div>
