<!DOCTYPE HTML>
<html>
<head>
<%- title @page_title %>
</head>
<body>
<div class="container">
	<% if params[:search].blank? %>
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-11">
				<%= render 'alphabetical_pagination' %>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-2">
			<%= render 'shared/sidebar' %>
		</div>

		<div class="col-md-10" id="sports">
			<%= render 'sport' %>
		</div>
	</div>
	<p>
		<%= will_paginate @sports %>
	</p>
</div>
</body>
</html>
