<script type="text/javascript">
	alert('hello');
</script>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      American Football is one of the biggest North American sports. Whilst the game is played worldwide, the professional leagues in North America (such as the NFL) easily attract the best players in the world making its leagues the most competitive. The pinnacle of the sport comes in the form of the Super Bowl played out every year to millions of people around the world.The object of American football is to score more points than your opponents in the allotted time. To do this they must move the ball down the pitch in phases of play before eventually getting the ball into the ‘end zone’ for a touchdown. This can be achieved by either throwing the ball to a teammate or running with the ball.
    </div>
  </div>
</div>