<footer id="footer">
  <a href="#" class="info fa fa-info-circle"><span>About</span></a>
  <div class="inner">
    <div class="content">
      <h3>"All work and no play makes Jack a dull boy".</h3>
      <p>Sport is very important in our life. It is popular among people of all ages because it helps them to keep fit. Sports is important for success in every walks of our life. Sports is an important aspect of life nowadays. Sports keep us healthy and fit. Sports improves our mental strength and keeps us fit. Sports and games give us opportunity to grow in life mentaly and physically.</p>
    </div>
    <div class="copyright">
      <h3>Follow me</h3>
      <ul class="icons">
        <li><a href="#" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      </ul>
      &copy; moreaboutSports. </div>
  </div>
</footer>
